<div class="row">
  <div class="col">
    <div class="title-underlined-lg text-center">
      Contact Us
    </div>
    <div class="description-lg text-center">
      Are you ready to take the plunge? Get in contact with us for your free consultation today!
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="contact-info text-center">
        <div class="contact-info-item">
          Email:
          <a href="mailto:angela@ascensionpoolsdfw" id="contact-info-email-link">
            angela@ascensionpoolsdfw.com
          </a>
        </div>
      <div class="contact-info-item">
        Phone: (682) 702-5406
      </div>
    </div>
  </div>
</div>