/*
  Colors Definition file
  Make sure to import at top of any file you wish to use these colors in
 */

$color-primary-0: #2A4E6E;	// Main Primary color */
$background-color: #B6D4EE;
$nav-bar-color: #5B80A0;
$color-primary-3: #0B253C;
$color-primary-4: #01060A;