/*
  Colors Definition file
  Make sure to import at top of any file you wish to use these colors in
 */

$color-primary-0: #2F3F73;	// Main Primary color */
$background-color: #F1F4FC;
$nav-bar-color: #7582AB;
$color-primary-3: #08143B;
$black-color: #000102;
$white-color: #FFFFFF;