@import 'colors';

.featured-pool-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.featured-pool-img{
  max-height: 200px;
  object-fit: contain;
}

.featured-pool-card{
  height: 400px;
}

.pool-list-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.pool-list-item{
  margin: 0.5em;
  color: $color-primary-0;
  transition: background-color 0.3s, color 0.3s;
}

.pool-list-item:hover{
  background-color: $nav-bar-color;
  color: $white-color;
  transition: background-color 0.3s, color 0.3s;
}

.pool-list-name{
  font-size: 1.5em;
}

.pool-list-in-stock{
  font-size: 0.75em;
}