<div class="row nav-bar">
  <div class="col-sm-12 col-md-3">
    <a href="/" class="nav-bar__home-link">
      <%= image_tag "logo", class: "nav-bar__logo"%>
    </a>
  </div>
  <div class="col-sm-12 col-md-3">
    <a href="/pool_models" class="nav-bar__link">
      <div class="nav-bar__button">
        Pool Models
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-3">
    <a href="#" class="nav-bar__link">
      <div class="nav-bar__button">
        About Us
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-3">
    <a href="#" class="nav-bar__link">
      <div class="nav-bar__button">
        Contact Us
      </div>
    </a>
  </div>
</div>