<div class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="/">
    <%= image_tag 'logo.svg', class: 'navbar__logo' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse-content">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/pool_models">Pool Models</a>
      <a class="nav-item nav-link" href="/contact_us">Contact Us</a>
    </div>
  </div>
</div>